.container .section{
  background:url("../images/covered-lifestyle-garden-with-indoor-outdoor-living.jpg") no-repeat;
  height:394px;
  background-size: cover;
}

.container .section::after{
  background: linear-gradient(to bottom , transparent,transparent, transparent,rgba(0, 0, 0, 0.2), rgb(0,0,0,0.5),rgb(0,0,0,0.7),rgb(0,0,0,0.7),rgb(0,0,0,0.9),rgb(0,0,0,0.9));
}

  .container .navbar .nav #business{
    background-color: #ffb23b;
    color:black;
  }

  .container .navbar .nav #magazine{
    color: rgb(92, 90, 90);
    background-color: transparent;
  }

  .container .boxes{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .container .boxes .box-1{
     display:grid;
     grid-template-columns: 35% 50%;
     justify-content: center;
     gap:23px;
  }

  .container .boxes .box-2{
    margin-top: 2%;
    display:grid;
    grid-template-columns: 50% 35%;
    justify-content: center;
    gap:23px;
  }

  .container .boxes .bx{
    position: relative;
    height:260px;
  }

  .container .boxes .bx img{
    position: absolute;
    width:100%;
    height:260px;
  }

  .container .boxes .bxx{
    background-color: rgb(171, 169, 169,0.2);
    padding: 15px 25px 25px;
  }

  .container .boxes .bxx p{
    font-size: 16px;
  }
  
  .container .boxes .bxx p:nth-child(1){
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .container .magazines .line1{
    height:0.5px;
    margin-bottom: 10px;
  }  
  
  .container .magazines #magazine-title{
    font-size: 32px;
  }

  .container .magazines .line2{
    height:0.5px;
    margin-top: 10px;
  }

  .container .boxes .box-2 .bx-text1, .container .boxes .box-2 .bx-img1{
    display:none;
  }

  @media screen and (min-device-width:319px) and (max-device-width:600px){
    
    .container .boxes .box-1 , .container .boxes .box-2{
      display:block;
      width: 90%;
      margin: auto;
    }

    .container .boxes{
      margin-top: 20px;
      margin-bottom: 70px;
    }
    
    .container .boxes .bx{
      margin-top: 20px;
      height: 190px;
    }

    .container .boxes .bx img{
      position: absolute;
      width:100%;
      height:190px;
    }

    .container .magazines .line1{
      height:0.5px;
      margin-bottom: 6px;
    }  

    .container .magazines #magazine-title{
      font-size: 23px;
    }

    .container .magazines .line2{
      height:0.5px;
      margin-top: 6px;
    }
  
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 30px;
      height: 511.2px;
      margin-top: 20px;
    }

    .container .boxes .bxx p{
      font-size: 16px;
    }
    
    .container .boxes .bxx p:nth-child(1){
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .container .boxes .box-2 .bx-text1, .container .boxes .box-2 .bx-img1{
      display:block;
    }

    .container .boxes .box-2 .bx-text, .container .boxes .box-2 .bx-img{
      display:none;
    }
    .container .section .text-wrapper
  {
    position:absolute;
    z-index: 3 ;
    color:white;
    margin-top: 111px !important;
    padding-left: 12px;
    padding-right: 12px;
  }

    

  }

  @media screen and (min-device-width:319px) and (max-device-width:325px){
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 13.5px  18px!important;
      height: 500px;
      margin-top: 20px;
    }
    .container .boxes .bxx p{
      font-size: 16px;
    }
    
    .container .boxes .bxx p:nth-child(1){
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .container .section .text-wrapper
  {
    position:absolute;
    z-index: 3 ;
    color:white;
    margin-top: 113px !important;
    padding-left: 12px;
  }
    

  }

  @media screen and (min-device-width:326px) and (max-device-width:357px){
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 13.5px  18px!important;
      height: 500px;
      margin-top: 20px;
    }
    .container .boxes .bxx p{
      font-size: 16px;
    }
  }

 
  @media screen and (min-device-width:395px) and (max-device-width:500px){
  .container .section .text-wrapper
  {
    position:absolute;
    z-index: 3 ;
    color:white;
    margin-top: 130px !important;
    padding-left: 12px;
  }
}

@media screen and (min-device-width:395px) and (max-device-width:410px){
  .container .section .text-wrapper
{
  position:absolute;
  z-index: 3 ;
  color:white;
  margin-top: 112px !important;
  padding-left: 12px;
}
}


  @media screen and (min-device-width:408px) and (max-device-width:445px){

    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 20px 20px;
      height: 410px ;
      margin-top: 20px;
    }

  }

  @media screen and (min-device-width:446px) and (max-device-width:530px){
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 20px 20px;
      height: 360px ;
      margin-top: 20px;
    }
  }
  @media screen and (min-device-width:501px) and (max-device-width:530px){

    .container .section .text-wrapper
    {
      position:absolute;
      z-index: 3 ;
      color:white;
      margin-top: 130px !important;
      padding-left: 12px;
    }

  }

  @media screen and (min-device-width:530px) and (max-device-width:600px){
    .container .section .text-wrapper
    {
      margin-top: 129px !important;
    }
    .container .boxes .box-1 , .container .boxes .box-2{
      display:block;
      width: 80%;
      margin: auto;
    }
    .container .boxes .bx{
      position: relative;
      height:266px;
    }
  
    .container .boxes .bx img{
      position: absolute;
      width:100%;
      height:266px;
    }
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 20px 20px;
      height: 345px ;
      margin-top: 20px;
    }
   
  }

  @media screen and (min-device-width:530px) and (max-device-width:540px){
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 20px 20px;
      height: 365px ;
      margin-top: 20px;
    }
  }


  @media screen and (min-device-width:600px) and (max-device-width:699px){

    .container .boxes .box-1{
      display:grid;
      grid-template-columns: 85%;
      justify-content: center;
      gap:23px;
   }
 
   .container .boxes .box-2{
     margin-top: 2%;
     display:grid;
     grid-template-columns: 85%;
     justify-content: center;
     gap:23px;
   }
   .container .boxes .box-2 .bx-text1, .container .boxes .box-2 .bx-img1{
    display:block;
  }

  .container .boxes .box-2 .bx-text, .container .boxes .box-2 .bx-img{
    display:none;
  }
  .container .section{
    height:294px ;
    background-size: cover;
    padding-right: 50px ;
  }

  .container .section::after{
    height:294px ;
  }
  .container .boxes .bx {
    height:270px;
  }
  .container .boxes .bx img{
    height:280px;
  }
  .container .boxes .bxx{
    height:360px;
  }
  }

  @media screen and (min-device-width:700px) and (max-device-width:769px){
    .container .boxes .bx{
      position: relative;
      height:306px;
    }
  
    .container .boxes .bx img{
      position: absolute;
      width:100%;
      height:306px;
    }
  
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 15px 16px;
    }
  
    .container .boxes .bxx p{
      font-size: 14.5px;
    }
    
    .container .boxes .bxx p:nth-child(1){
      font-weight: 500;
      font-size: 15.5px;
      margin-bottom: 10px;
    }

    .container .magazines .line1{
      height:1px;
      margin-bottom: 9px;
    }  
    
    .container .magazines #magazine-title{
      font-size: 26px;
    }
  
    .container .magazines .line2{
      height:0.5px;
      margin-top: 9px;
    }

    .container .boxes .box-1{
      display:grid;
      grid-template-columns: 80%;
      justify-content: center;
      gap:23px;
   }
 
   .container .boxes .box-2{
     margin-top: 2%;
     display:grid;
     grid-template-columns: 80%;
     justify-content: center;
     gap:23px;
   }

   .container .section{
    height:294px;
    background-size: cover;
    padding-right: 50px ;
  }

  .container .section::after{
    height:294px;
  }

  .container .section .text-wrapper
  {
    margin-top: 178px;
  }
  .container .boxes .box-2 .bx-text1, .container .boxes .box-2 .bx-img1{
    display:block;
  }

  .container .boxes .box-2 .bx-text, .container .boxes .box-2 .bx-img{
    display:none;
  }

  .container .boxes .bx {
    height:250px;
  }
  .container .boxes .bx img{
    height:250px;
  }
  .container .boxes .bxx{
    height:230px;
  }
   
  }
  @media screen and (min-device-width:707px) and (max-device-width:720px){
    .container .section .text-wrapper
  {
    margin-top: 180px !important;
  }
  }
  
  @media screen and (min-device-width:652px) and (max-device-width:706px){
    .container .section .text-wrapper{
      margin-top: 178px !important;
    }
  }

  @media screen and (min-device-width:1010px) and (max-device-width:1155px){
    .container .boxes .bx{
      position: relative;
      height:267px;
    }
  
    .container .boxes .bx img{
      position: absolute;
      width:100%;
      height:267px;
    }
  
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 17.7px;
    }
  
    .container .boxes .bxx p{
      font-size: 16px;
    }
    
    .container .boxes .bxx p:nth-child(1){
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .container .boxes .box-1{
      display:grid;
      grid-template-columns: 40% 58%;
      justify-content: center;
      gap:23px;
   }
 
   .container .boxes .box-2{
     margin-top: 2%;
     display:grid;
     grid-template-columns: 58% 40%;
     justify-content: center;
     gap:23px;
   }
   
  }

  @media screen and (min-device-width:1155px) and (max-device-width:1441px){
   
    .container .navbar .box{
      width:250px;
      height: 82px;
      background-color: #ffb23b;
      margin-top: 20px;
      position: relative;
      margin-right: 0px;
  }
  
    .contact .navbar{
      display: flex;
    }
    .contact .navbar .nav {
      width:70%;
    }
    .contact .navbar .nav a{
      font-size: 20px !important;
    }
    .container .navbar .nav #home{
      width:96px !important;
      font-size: 20px;
    }
  
    .container .navbar .nav #about{
      width:126px !important;
      font-size: 20px;
    }
  
    .container .navbar .nav #magazine{
      font-size: 20px;
      width:176px !important;
    }
    .container .navbar .nav #business{
      font-size: 20px;
      width:156px !important;
    }
    .container .navbar .icons img{
      width:40px;
      height:40px;
      margin-right: 5px;
      margin-top: 40.5px;
      cursor: pointer;
    }
    .container .boxes .bxx{
      background-color: rgb(171, 169, 169,0.2);
      padding: 13px 25px 25px;
    }
    
  }
  